.logo-product {
    width: 100px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.action-button {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}
.download-wrapper{
  display:flex;
  justify-content:center;
  margin-top:40px;
}

.gif-wrapper{
  display:flex;
  justify-content:center;
  margin-top:20px;
}

.download-wrapper button{
  padding:12px 24px;
  border:none;
  border-radius:10px;
  background:#B12301;
  color:white;
  font-size:16px;
  cursor:pointer;
}

.gif-wrapper button{
  padding:12px 24px;
  border:none;
  border-radius:10px;
  background:#0495c6;
  color:white;
  font-size:16px;
  cursor:pointer;
}
