/* ===== FPT SONG VUI FONT ===== */

@font-face {
    font-family: "FPT Song Vui";
    src: url("../assets/fonts/FPTSONGVUI-Light.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "FPT Song Vui";
    src: url("../assets/fonts/FPTSONGVUI-Light-Italic.TTF") format("truetype");
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: "FPT Song Vui";
    src: url("../assets/fonts/FPTSONGVUI-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "FPT Song Vui";
    src: url("../assets/fonts/FPT SONGVUI-Italic.ttf") format("truetype");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "FPT Song Vui";
    src: url("../assets/fonts/FPTSONGVUI-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "FPT Song Vui";
    src: url("../assets/fonts/FPTSONGVUI-Bold-Italic.ttf") format("truetype");
    font-style: italic;
    font-weight: 700;
}

body {
    margin: 0;
    font-family: "FPT Song Vui", sans-serif;
    background: url("../assets/images/background.png") center center / cover no-repeat fixed;
    text-align: center;
    overflow-x: hidden;
}

/* RESPONSIVE */
@media (max-width: 1024px) {

    .decor {
        width: 15%;
    }

    .title {
        font-size: 58px;
    }

}

@media (max-width: 900px) {

    .title {
        font-size: 64px;
    }

    .subtitle {
        font-size: 15px;
    }

    .memory-box {
        width: min(118vw, 500px);
        transform: translateY(28px);
    }

}

@media (max-width: 900px) {

    .demo-cards {
        flex-direction: column;
    }

    .card-output {
        flex-direction: column;
    }

}

@media (max-width: 480px) {
    body {
        background-attachment: scroll;
    }

    .title {
        font-size: 54px;
    }
}
